
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    font-family: "Nunito";
    margin-top: 86px;
    text-align: center;

}
.head-div {
    width: 740px;
}

.dev-head {
    color:rgba(16, 112, 202, 1);
}

.h1-head {
    color: rgba(35, 67, 97, 1);
}

.button-head {
    background-color: #4DA8FF;
    color:#FFFFFF;
    border-radius: 64px;
    padding: 4px 24px;
    border: #FFFFFF solid 1px;
    /* width: 281px; */
    height: 48px;
    font-size: 20px;
}
.photo-head {
    display: flex;
}

.obrazek-head {
    border-radius: 50%;
    height: 226px;
    border: rgba(219, 234, 247, 1) solid 25px;
    margin-bottom: 48px;

}

.a-head {
    text-decoration: none;
    color: #4DA8FF;
    font-weight: 700;
}

.p-head {
    color: #425A70;
}