
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    font-family: "Nunito";
    margin-top: 86px;
    text-align: center;

}
.head-div {
    width: 740px;
}
body {
    margin: 0px;
}
.dev-head {
    color:rgba(16, 112, 202, 1);
}

.h1-head {
    color: rgba(35, 67, 97, 1);
}

.button-head {
    background-color: #4DA8FF;
    color:#FFFFFF;
    border-radius: 64px;
    padding: 4px 24px;
    border: #FFFFFF solid 1px;
    /* width: 281px; */
    height: 48px;
    font-size: 20px;
}
.photo-head {
    display: flex;
}

.obrazek-head {
    border-radius: 50%;
    height: 226px;
    border: rgba(219, 234, 247, 1) solid 25px;
    margin-bottom: 48px;

}

.a-head {
    text-decoration: none;
    color: #4DA8FF;
    font-weight: 700;
}

.p-head {
    color: #425A70;
}

.text-head {
    display: flex;

    align-items: flex-start;
    flex-direction: column; 
    position: relative;
    left: 200px;
    top: 40px;
}

.ogonek {
    margin-left: 20px;
}

.hey-there {
    width: 233px;
    height: 72px;
    background-color: #1070CA;
    border-radius: 19px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 27px;
    font-weight: 700;
}

.skills {
    background-color: #1070CA;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 174px;
    color: #FFFFFF;
    font-family: "Nunito";
}

.my-skills{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 51px;
}

.skills-list{
    display: flex;
    justify-content: center;
    gap: 65px;

}

.emoji {
    font-size: 63px;
    text-align: center;
}

.skills-naglowek {
    text-align: center;
    
}
.knowledge {
    list-style-image: url('small-tick-green.png');
}

.know{
    list-style-image: url('small-tick.png');
}

.learn {
    list-style-image: url('Bullet.png');
}

.karta {
    
    background-color: #212528;
    width: 580px;
    height: 287px;
    border-radius: 24px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    font-family: "Nunito";
}
.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 204px;
    color: #808082;
}

.projects2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    gap: 24px;
    color: #808082;
}

.Icon {
    margin-top: 20px;
    margin-left: 52px; 
}

.text1{
    margin-left: 88px;
}
.text1-2{
    color: #FFFFFF;
}
.text2{
    margin-top: -9px;
    margin-left: 60px;
}
.text3{
    margin-left: 104px;
}
.text4{
    margin-top: -9px;
    margin-left: 100px;
}
.Dot {
    background: #464a4d;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    margin-left: 12px;
    margin-top: 16px;
}
.Topbar{
    display: flex;
}
a {
    color: #14B5D0;
}
.bar {
    background-color: #1E1E1E;
    height: 38px;
    width: 580px;
    border-radius: 24px;
}

.project-h2 {
    margin-top: 90px;
    color: #234361;
    font-family: "Nunito";
    font-size: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.project-p {
    color:#425A70;
    font-family: "Nunito";
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.contact {
    background-color: #DBEAF7;
    height: 568px;

}

.contact-h2 {
    padding-top: 90px;
    color: #234361;
    font-family: "Nunito";
    font-size: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}



.button-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 141px;
    gap: 30px;

}

.button-button {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.button-head {
    margin-left: 83px;
    border-width: 0;
}

.buttons-contact {
    background: #ffffff;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}


@media only screen and (max-width: 1320px) {
    .hey-there {
        display: none;
    }
    .ogonek {
        display: none;
    }
    .pineska {
        display: none;
    }
    .skills-list {
        flex-direction: column;
    }
    .projects {
        flex-direction: column;
    }
    .projects2 {
        flex-direction: column;
    }
    .button-head {
        margin-left: 0px;
    }
    .button-menu {
        display: flex;
        flex-direction: column;
    }
    .karta {
        width: 288px;
        font-size: 14px;
    }
    .bar {
        width: 288px;
    }
    .text1 {
        margin-left: 0px;
        text-align: center;
    }

    .text2-1 {
        margin-left: 52px;
    }
    .text3 {
        margin-left: 1px;
        text-align: center;
    }
    .text4 {
        margin-left: 17px;
        text-align: center;
    }
}

@media only screen and (max-width: 1320px) {
    .head-div {
        width: 320px;
    }
    .project-h2 {
        text-align: center;
    }

    .project-p {
        margin-left: 30px;
        margin-right: 30px;
        text-align: justify;
    }
    .h1-head {
        margin-left: 30px;
        margin-right: 30px;
        
    }
    .p-head {
        margin-left: 30px;
        margin-right: 30px;
    }
}